# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# OS-specific files
.DS_Store
.DS_Store?
._*
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Local uploads
static/uploads/

